<!DOCTYPE html>
<html>

<head>
  <title>MVC</title>
</head>

<body>
  <h2>Resultados</h2>
  <% if (imoveis.length> 0) { %>
  <div>
    <table>
      <thead>
        <td>Rua</td>
        <td>Cidade</td>
        <td>Estado</td>
        <td>Número</td>
        <td>Tipo</td>
      </thead>
      <tbody>
        <% imoveis.forEach(function (imovel) { %>
        <tr>
          <td><%= imovel.rua %></td>
          <td><%= imovel.cidade %></td>
          <td><%= imovel.estado %></td>
          <td><%= imovel.numero %></td>
          <td><%= imovel.tipo %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <% } %>
  <a href="/">Voltar</a>
</body>

</html>